PORT=3000  
MONGODB_USER=admin  
MONGODB_PASSWORD=endermen7722  
MONGODB_URL=cluster0.abcde.mongodb.net  
MONGODB_DB=contacts  
MONGODB_URI=mongodb+srv://admin:endermen7722@cluster0.abcde.mongodb.net/contacts?retryWrites=true&w=majority  
SMTP_HOST=<ваш_smtp_хост>  
SMTP_PORT=<ваш_smtp_порт>  
SMTP_USER=<ваш_email_на_brevo>  
SMTP_PASSWORD=<ваш_пароль_на_brevo>  
SMTP_FROM=<ваш_email_на_brevo>  
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o  
APP_DOMAIN=http://localhost:3000/auth  