PORT=3000
MONGODB_USER=admin
MONGODB_PASSWORD=endermen7722
MONGODB_URL=cluster0.g9va4.mongodb.net
MONGODB_DB=contacts
SMTP_HOST=smtp.relay.brevo.com  
SMTP_PORT=587  
SMTP_USER=981e0b92b0@smtp.brevo.com  
SMTP_PASSWORD=KIr1luKval76g85bvlq  
SMTP_FROM=kirilukvlad91@gmail.com

JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000/auth
CLOUD_NAME=dzqifvzrh
API_KEY=4256342153932125
API_SECRET=4256342153932125 
ENABLE_CLOUDINARY=true