PORT=3000
MONGODB_USER=admin
MONGODB_PASSWORD=endermen7722
MONGODB_URL=cluster0.g9va4.mongodb.net
MONGODB_DB=contacts
MONGODB_URI=mongodb+srv://admin:endermen7722@cluster0.g9va4.mongodb.net/contacts?retryWrites=true&w=majority 
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=891e7b001@smtp-brevo.com
SMTP_PASSWORD=6zv7KTpgts8b9Lvq
SMTP_FROM=kirilukvlad91@gmail.com
CLOUD_NAME=dzqjfvzrh 
API_KEY=425634153932125
API_SECRET=425634153932125
APP_DOMAIN=http://localhost:3000/auth